<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Business Vision</title>
<style><!--
.MsoNormal
	{line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}
.MsoToc1
	{line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}
.MsoToc2
	{line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}
.MsoToc3
	{line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}
.MsoTitle
	{text-align:center;
	font-size:18.0pt;
	font-family:Arial;
	font-weight:bold;}
.MsoBodyText
	{line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}
.Tabletext
	{line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}
.InfoBlue
	{line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";
	color:blue;
	font-style:italic;}
-->
</style>
</head>
<body lang=EN-US link=blue vlink=purple bgcolor="#ffffff">
<P style="MARGIN: -14px 0px +2px"><FONT face=Arial size=1>
<img border=0 src="../../../applet/images/artfc_w.gif"> <a href="../../../process/artifact/ovu_arts.htm">Artifacts</a> &gt;
<img border=0 src="../../../applet/images/artfc_y.gif"> <a href="../../../process/artifact/ars_bm.htm">Business Modeling Artifact Set</a> &gt;
<img border=0 src="../../../applet/images/ar_doc.gif"> <a href="../../../process/artifact/ar_bvsio.htm">Business Vision</a> &gt;
<img border=0 src="../../../applet/images/ie.gif"> rup_bvis.htm
</FONT></P>
<div class=Section1> 
  <p class=MsoTitle align=right style='text-align:right'>&lt;Project Name&gt;</p>
  <p class=MsoTitle align=right style='text-align:right'>Business Vision</p>
  <p class=MsoTitle align=right style='text-align:right'><span style='font-size:
14.0pt;'>Version &lt;1.0&gt;</span></p>
  <p class=InfoBlue>[Note: The following template is provided for use with the 
    Rational Unified Process. Text enclosed in square brackets and displayed in 
    blue italics (style=InfoBlue) is included to provide guidance to the author 
    and should be deleted before publishing the document. A paragraph entered 
    following this style will automatically be set to normal (style=Body Text).]</p>
  <p class=InfoBlue>&nbsp;</p>
  <p class=InfoBlue>&nbsp;</p>
</div>
<div class=Section2> 
  <p class=MsoTitle>Revision History</p>
  <table border=1 cellspacing=0 cellpadding=0 style='border-collapse:collapse;
 border:none;'>
    <tr> 
      <td width=154 valign=top style='width:1.6in;border:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'> 
        <p class=Tabletext align=center style='text-align:center'><b>Date</b></p>
      </td>
      <td width=77 valign=top style='width:.8in;border:solid windowtext .75pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'> 
        <p class=Tabletext align=center style='text-align:center'><b>Version</b></p>
      </td>
      <td width=250 valign=top style='width:2.6in;border:solid windowtext .75pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'> 
        <p class=Tabletext align=center style='text-align:center'><b>Description</b></p>
      </td>
      <td width=154 valign=top style='width:1.6in;border:solid windowtext .75pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'> 
        <p class=Tabletext align=center style='text-align:center'><b>Author</b></p>
      </td>
    </tr>
    <tr> 
      <td width=154 valign=top style='width:1.6in;border:solid windowtext .75pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'> 
        <p class=Tabletext>&lt;dd/mmm/yy&gt;</p>
      </td>
      <td width=77 valign=top style='width:.8in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'> 
        <p class=Tabletext>&lt;x.x&gt;</p>
      </td>
      <td width=250 valign=top style='width:2.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'> 
        <p class=Tabletext>&lt;details&gt;</p>
      </td>
      <td width=154 valign=top style='width:1.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'> 
        <p class=Tabletext>&lt;name&gt;</p>
      </td>
    </tr>
    <tr> 
      <td width=154 valign=top style='width:1.6in;border:solid windowtext .75pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>&nbsp; </td>
      <td width=77 valign=top style='width:.8in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>&nbsp; </td>
      <td width=250 valign=top style='width:2.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>&nbsp; </td>
      <td width=154 valign=top style='width:1.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>&nbsp; </td>
    </tr>
    <tr> 
      <td width=154 valign=top style='width:1.6in;border:solid windowtext .75pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>&nbsp; </td>
      <td width=77 valign=top style='width:.8in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>&nbsp; </td>
      <td width=250 valign=top style='width:2.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>&nbsp; </td>
      <td width=154 valign=top style='width:1.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>&nbsp; </td>
    </tr>
    <tr> 
      <td width=154 valign=top style='width:1.6in;border:solid windowtext .75pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>&nbsp; </td>
      <td width=77 valign=top style='width:.8in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>&nbsp; </td>
      <td width=250 valign=top style='width:2.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>&nbsp; </td>
      <td width=154 valign=top style='width:1.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>&nbsp; </td>
    </tr>
  </table>
  <b><span style='font-size:18.0pt;font-family:Arial;'><br clear=all style='page-break-before:always'>
  </span></b> 
  <p class=MsoTitle>Table of Contents</p>
</div>
<dl> 
  <dt> 
    <div class=Section2><a href="#1.                  Introduction"">1.<span style='font-size:12.0pt'>       
      </span>Introduction</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </div>
  </dt>
  <dd> 
    <div class=Section2><a href="#1.1               Purpose"">1.1<span
style='font-size:12.0pt'>     </span>Purpose</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <div class=Section2><a href="#1.2               Scope"">1.2<span
style='font-size:12.0pt'>     </span>Scope</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <div class=Section2><a href="#1.3               Definitions, Acronyms and Abbreviations"">1.3<span
style='font-size:12.0pt'>     </span>Definitions, Acronyms, and Abbreviations</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <div class=Section2><a href="#1.4               References"">1.4<span
style='font-size:12.0pt'>     </span>References</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <div class=Section2><a href="#1.5               Overview"">1.5<span
style='font-size:12.0pt'>     </span>Overview</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
  </dd>
  <dt>&nbsp;</dt>
  <dd> 
    <div class=Section2></div>
  </dd>
  <dt> 
    <div class=Section2><a href="#2.                  Positioning"">2.<span style='font-size:12.0pt'>       
      </span>Positioning</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </div>
  </dt>
  <dd> 
    <div class=Section2><a href="#2.1               Business Opportunity"">2.1<span
style='font-size:12.0pt'>     </span>Business Opportunity</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <div class=Section2><a href="#2.2               Problem Statement"">2.2<span
style='font-size:12.0pt'>     </span>Problem Statement</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <div class=Section2><a href="#2.3               Product Position Statement"">2.3<span
style='font-size:12.0pt'>     </span>Product Position Statement</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
  </dd>
  <dt>&nbsp;</dt>
  <dd> 
    <div class=Section2></div>
  </dd>
  <dt> 
    <div class=Section2><a href="#3.                  Stakeholder and Customer Descriptions"">3.<span style='font-size:12.0pt'>       
      </span>Stakeholder and Customer Descriptions</a>&nbsp;&nbsp; </div>
  </dt>
  <dd> 
    <div class=Section2><a href="#3.1               Market Demographics"">3.1<span
style='font-size:12.0pt'>     </span>Market Demographics</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <div class=Section2><a href="#3.2               Stakeholder Summary"">3.2<span
style='font-size:12.0pt'>     </span>Stakeholder Summary</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <div class=Section2><a href="#3.3               Customer Summary"">3.3<span
style='font-size:12.0pt'>     </span>Customer Summary</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <div class=Section2><a href="#3.4               Customer Environment"">3.4<span
style='font-size:12.0pt'>     </span>Customer Environment</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <div class=Section2><a href="#3.5               Stakeholder Profiles"">3.5<span
style='font-size:12.0pt'>     </span>Stakeholder Profiles</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <dl> 
      <dl> 
        <dt> 
          <div class=Section2><a href="#3.5.1          &lt;Stakeholder Name&gt;"">3.5.1<span
style='font-size:12.0pt'>         </span>&lt;Stakeholder Name&gt;&nbsp;</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
          </div>
        </dt>
      </dl>
    </dl>
    <div class=Section2><a href="#3.6               Customer Profiles"">3.6<span
style='font-size:12.0pt'>     </span>Customer Profiles</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </div>
    <dl> 
      <dl>
        <dt>
          <div class=Section2><a href="#3.6.1          &lt;Customer Name&gt;"">3.6.1<span
style='font-size:12.0pt'>         </span>&lt;Customer Name&gt;&nbsp;</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
          </div>
        </dt>
      </dl>
    </dl>
  </dd>
  <dd> 
    <div class=Section2><a href="#3.7               Key Stakeholder / Customer Needs"">3.7<span
style='font-size:12.0pt'>     </span>Key Stakeholder or Customer Needs</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </div>
    <div class=Section2> <a href="#3.8               Alternatives and Competition"">3.8<span
style='font-size:12.0pt'>     </span>Alternatives and Competition</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </div>
  </dd>
  <dt>&nbsp;</dt>
  <dd> 
    <div class=Section2> </div>
  </dd>
  <dt> 
    <div class=Section2><a href="#4.                  Business Engineering Objectives"">4.<span style='font-size:12.0pt'>       
      </span>Business Modeling Objectives</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </div>
  </dt>
  <dd> 
    <div class=Section2><a href="#4.1               &lt;anObjective&gt;"">4.1<span
style='font-size:12.0pt'>     </span>&lt;anObjective&gt;</a>     </div>
    <div class=Section2><a href="#4.2               &lt;anotherObjective&gt;"">4.2<span
style='font-size:12.0pt'>     </span>&lt;anotherObjective&gt;</a>     </div>
  </dd>
</dl>
<div class=Section2> 
  <p><a href="#5.                  Constraints"">5.<span style='font-size:12.0pt'>       
    </span>Constraints</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
  </p>
  <p><a href="#6.                  Quality Ranges"">6.<span style='font-size:12.0pt'>       
    </span>Quality Ranges</a> </p>
  <p><a href="#7.                  Precedence and Priority"">7.<span style='font-size:12.0pt'>       
    </span>Precedence and Priority</a> </p>
</div>
<dl>
  <dt>
    <div class=Section2><a href="#8.                  Other Requirements"">8.<span style='font-size:12.0pt'>       
      </span>Other Requirements</a> </div>
  </dt>
  <dd>
    <div class=Section2><a href="#8.1               Applicable Standards"">8.1<span
style='font-size:12.0pt'>     </span>Applicable Standards</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <div class=Section2><a href="#8.2               System Requirements"">8.2<span
style='font-size:12.0pt'>     </span>System Requirements</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <div class=Section2><a href="#8.3               Performance Requirements"">8.3<span
style='font-size:12.0pt'>     </span>Performance Requirements</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <div class=Section2><a href="#8.4               Environmental Requirements"">8.4<span
style='font-size:12.0pt'>     </span>Environmental Requirements</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
  </dd>
</dl>
<div class=Section2> <a href="#A.                  Appendix 1 – Objective Attributes"">Appendix 
  A&#151Objective Attributes</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<p class=MsoTitle><br
clear=all style='page-break-before:always'>
    Business Vision</p>
  <h4><a name="1.                  Introduction"><font face="Arial, Helvetica, sans-serif">1.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </span>Introduction</font></a></h4>
  <p class=InfoBlue>The introduction of the <b>Business Vision</b> provides an 
    overview of the entire document. It includes the purpose, scope, definitions, 
    acronyms, abbreviations, references, and overview of the <strong>Business 
    Vision</strong>.]</p>
  <h5><a name="1.1               Purpose"><font face="Arial, Helvetica, sans-serif">1.1<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </span>Purpose</font></a></h5>
  <p class=InfoBlue>[Specify the purpose of this <b>Business Vision </b>document<b>.</b>]</p>
  <h5><a name="1.2               Scope"><font face="Arial, Helvetica, sans-serif">1.2<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </span>Scope</font></a></h5>
  <p class=InfoBlue>[A brief description of the scope of this <b>Business Vision 
    </b>document; what Project(s) it is associated with and anything else that 
    is affected or influenced by this document.]</p>
  <h5><a name="1.3               Definitions, Acronyms and Abbreviations"><font face="Arial, Helvetica, sans-serif">1.3<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </span>Definitions, Acronyms, and Abbreviations</font></a></h5>
  <p class=InfoBlue>[This subsection provides the definitions of all terms, acronyms, 
    and abbreviations required to properly interpret the <b>Business Vision </b>document.&nbsp; 
    This information may be provided by reference to the project's Glossary.]</p>
  <h5><a name="1.4               References"><font face="Arial, Helvetica, sans-serif">1.4<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </span>References</font></a></h5>
  <p class=InfoBlue>[This subsection provides a complete list of all documents 
    referenced elsewhere in the <b>Business Vision.</b>  Identify each document 
    by title, report number if applicable, date, and publishing organization.  
    Specify the sources from which the references can be obtained. This information 
    may be provided by reference to an appendix or to another document.]</p>
  <h5><a name="1.5               Overview"><font face="Arial, Helvetica, sans-serif">1.5<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </span>Overview</font></a></h5>
  <p class=InfoBlue>[This subsection describes what the rest of the <b>Business 
    Vision </b>contains and explains how the document is organized.]</p>
  <h4><font face="Arial, Helvetica, sans-serif"><a name="2.                  Positioning">2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </span>Positioning</a></font></h4>
  <h5><font face="Arial, Helvetica, sans-serif"><a name="2.1               Business Opportunity">2.1<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </span>Business Opportunity</a></font></h5>
  <p class=InfoBlue>[Briefly describe the business opportunity being met by this 
    project.]</p>
  <h5><a name="2.2               Problem Statement"><font face="Arial, Helvetica, sans-serif">2.2<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </span>Problem Statement</font></a></h5>
  <p class=InfoBlue>[Provide a statement summarizing the problem being solved 
    by this project. The following format may be used:]</p>
  <table border=0 cellspacing=0 cellpadding=0 style='
 border-collapse:collapse;'>
    <tr> 
      <td width=198 valign=top style='width:148.5pt;border:solid windowtext 1.5pt;
  border-bottom:solid windowtext .75pt;background:#BFBFBF;padding:0in 5.4pt 0in 5.4pt'> 
        <p class=MsoBodyText style='page-break-after:avoid'>The problem of</p>
      </td>
      <td width=348 valign=top style='width:261.0pt;border-top:solid windowtext 1.5pt;
  border-left:none;border-bottom:solid windowtext .75pt;border-right:solid windowtext 1.5pt;
  padding:0in 5.4pt 0in 5.4pt'> 
        <p class=InfoBlue>[describe the problem]</p>
      </td>
    </tr>
    <tr> 
      <td width=198 valign=top style='width:148.5pt;border-top:none;border-left:
  solid windowtext 1.5pt;border-bottom:solid windowtext .75pt;border-right:
  solid windowtext 1.5pt;background:
  #BFBFBF;padding:0in 5.4pt 0in 5.4pt'> 
        <p class=MsoBodyText style='page-break-after:avoid'>affects</p>
      </td>
      <td width=348 valign=top style='width:261.0pt;border-top:none;border-left:
  none;border-bottom:solid windowtext .75pt;border-right:solid windowtext 1.5pt;padding:0in 5.4pt 0in 5.4pt'> 
        <p class=InfoBlue>[who are the stakeholders affected by the problem?]</p>
      </td>
    </tr>
    <tr> 
      <td width=198 valign=top style='width:148.5pt;border-top:none;border-left:
  solid windowtext 1.5pt;border-bottom:solid windowtext .75pt;border-right:
  solid windowtext 1.5pt;background:
  #BFBFBF;padding:0in 5.4pt 0in 5.4pt'> 
        <p class=MsoBodyText style='page-break-after:avoid'>the impact of which 
          is</p>
      </td>
      <td width=348 valign=top style='width:261.0pt;border-top:none;border-left:
  none;border-bottom:solid windowtext .75pt;border-right:solid windowtext 1.5pt;padding:0in 5.4pt 0in 5.4pt'> 
        <p class=InfoBlue>[what is the impact of the problem?]</p>
      </td>
    </tr>
    <tr> 
      <td width=198 valign=top style='width:148.5pt;border-top:none;border-left:
  solid windowtext 1.5pt;border-bottom:solid windowtext .75pt;border-right:
  solid windowtext 1.5pt;background:
  #BFBFBF;padding:0in 5.4pt 0in 5.4pt'> 
        <p class=MsoBodyText>a successful solution would be</p>
      </td>
      <td width=348 valign=top style='width:261.0pt;border-top:none;border-left:
  none;border-bottom:solid windowtext .75pt;border-right:solid windowtext 1.5pt;padding:0in 5.4pt 0in 5.4pt'> 
        <p class=InfoBlue>[list some key benefits of a successful solution]</p>
      </td>
    </tr>
  </table>
  <h5><a name="2.3               Product Position Statement"><font face="Arial, Helvetica, sans-serif">2.3<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </span>Product Position Statement</font></a></h5>
  <p class=InfoBlue>[Provide an overall statement summarizing, at the highest 
    level, the unique position the product intends to fill in the marketplace. 
    The following format may be used:]</p>
  <table border=0 cellspacing=0 cellpadding=0 style='
 border-collapse:collapse;'>
    <tr> 
      <td width=186 valign=top style='width:139.5pt;border:solid windowtext 1.5pt;
  border-bottom:solid windowtext .75pt;background:#BFBFBF;padding:0in 5.4pt 0in 5.4pt'> 
        <p class=MsoBodyText style='page-break-after:avoid'>For</p>
      </td>
      <td width=360 valign=top style='width:3.75in;border-top:solid windowtext 1.5pt;
  border-left:none;border-bottom:solid windowtext .75pt;border-right:solid windowtext 1.5pt;
  padding:0in 5.4pt 0in 5.4pt'> 
        <p class=InfoBlue>[target customer]</p>
      </td>
    </tr>
    <tr> 
      <td width=186 valign=top style='width:139.5pt;border-top:none;border-left:
  solid windowtext 1.5pt;border-bottom:solid windowtext .75pt;border-right:
  solid windowtext 1.5pt;background:
  #BFBFBF;padding:0in 5.4pt 0in 5.4pt'> 
        <p class=MsoBodyText style='page-break-after:avoid'>Who</p>
      </td>
      <td width=360 valign=top style='width:3.75in;border-top:none;border-left:
  none;border-bottom:solid windowtext .75pt;border-right:solid windowtext 1.5pt;padding:0in 5.4pt 0in 5.4pt'> 
        <p class=InfoBlue>[statement of the need or opportunity]</p>
      </td>
    </tr>
    <tr> 
      <td width=186 valign=top style='width:139.5pt;border-top:none;border-left:
  solid windowtext 1.5pt;border-bottom:solid windowtext .75pt;border-right:
  solid windowtext 1.5pt;background:
  #BFBFBF;padding:0in 5.4pt 0in 5.4pt'> 
        <p class=MsoBodyText style='page-break-after:avoid'>The (product name)</p>
      </td>
      <td width=360 valign=top style='width:3.75in;border-top:none;border-left:
  none;border-bottom:solid windowtext .75pt;border-right:solid windowtext 1.5pt;padding:0in 5.4pt 0in 5.4pt'> 
        <p class=InfoBlue> is a [product category]</p>
      </td>
    </tr>
    <tr> 
      <td width=186 valign=top style='width:139.5pt;border-top:none;border-left:
  solid windowtext 1.5pt;border-bottom:solid windowtext .75pt;border-right:
  solid windowtext 1.5pt;background:
  #BFBFBF;padding:0in 5.4pt 0in 5.4pt'> 
        <p class=MsoBodyText style='page-break-after:avoid'>That</p>
      </td>
      <td width=360 valign=top style='width:3.75in;border-top:none;border-left:
  none;border-bottom:solid windowtext .75pt;border-right:solid windowtext 1.5pt;padding:0in 5.4pt 0in 5.4pt'> 
        <p class=InfoBlue>[statement of key benefit; that is, what is the compelling 
          reason to buy?]</p>
      </td>
    </tr>
    <tr> 
      <td width=186 valign=top style='width:139.5pt;border-top:none;border-left:
  solid windowtext 1.5pt;border-bottom:solid windowtext .75pt;border-right:
  solid windowtext 1.5pt;background:
  #BFBFBF;padding:0in 5.4pt 0in 5.4pt'> 
        <p class=MsoBodyText style='page-break-after:avoid'>Unlike</p>
      </td>
      <td width=360 valign=top style='width:3.75in;border-top:none;border-left:
  none;border-bottom:solid windowtext .75pt;border-right:solid windowtext 1.5pt;padding:0in 5.4pt 0in 5.4pt'> 
        <p class=InfoBlue>[primary competitive alternative]</p>
      </td>
    </tr>
    <tr> 
      <td width=186 valign=top style='width:139.5pt;border:solid windowtext 1.5pt;
  border-top:none;background:#BFBFBF;padding:0in 5.4pt 0in 5.4pt'> 
        <p class=MsoBodyText>Our product</p>
      </td>
      <td width=360 valign=top style='width:3.75in;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.5pt;border-right:solid windowtext 1.5pt;padding:0in 5.4pt 0in 5.4pt'> 
        <p class=InfoBlue>[statement of primary differentiation]</p>
      </td>
    </tr>
  </table>
  <p class=InfoBlue>[A product position statement communicates the intent of the 
    application and the importance of the project to all concerned personnel.]</p>
  <h4><a name="3.                  Stakeholder and Customer Descriptions"><font face="Arial, Helvetica, sans-serif">3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </span>Stakeholder and Customer Descriptions</font></a></h4>
  <p class=InfoBlue>[To effectively provide products and services that meet your 
    stakeholders’ and users' real needs, it is necessary to identify and involve 
    all of the stakeholders as part of the Business Modeling process.  You must 
    also identify the users of the system and ensure that the stakeholder community 
    adequately represents them.  This section provides a profile of the stakeholders 
    and users involved in the project and the key problems that they perceive 
    to be addressed by the proposed solution.  It does not describe their specific 
    requests or requirements as these are captured in a separate stakeholder requests 
    artifact.  Instead it provides the background and justification for why the 
    requirements are needed.]</p>
  <h5><a name="3.1               Market Demographics"><font face="Arial, Helvetica, sans-serif">3.1<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </span>Market Demographics</font></a></h5>
  <p class=InfoBlue>[Summarize the key market demographics that motivate your 
    product decisions. Describe and position target market segments. Estimate 
    the market’s size and growth by using the number of potential users, or the 
    amount of money your customers spend trying to meet needs that your product 
    or enhancement would fulfill. Review major industry trends and technologies. 
    Answer these strategic questions:</p>
  <blockquote> 
    <p class=InfoBlue>•          What is your organization’s reputation in these 
      markets? </p>
    <p class=InfoBlue>•          What would you like it to be? </p>
    <p class=InfoBlue>•          How does this product or service support your 
      goals?]</p>
  </blockquote>

  <h5><a name="3.2               Stakeholder Summary"><font face="Arial, Helvetica, sans-serif">3.2<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span>Stakeholder Summary</font></a></h5>

<p class=InfoBlue>[There are a number of stakeholders with an interest in the
development and not all of them are end users. Present a summary
list of these non-user stakeholders. (The users are summarized in section 3.3.)]</p>

<table border=1 cellspacing=0 cellpadding=0 style='margin-left:41.4pt;
 border-collapse:collapse;border:none;'>
 <tr>
  <td width=168 valign=top style='width:1.75in;border:solid black .75pt;
  background:#BFBFBF;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoBodyText style='margin-left:0in'><b>Name</b></p>
  </td>
  <td width=192 valign=top style='width:2.0in;border:solid black .75pt;
  border-left:none;background:#BFBFBF;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoBodyText style='margin-left:0in'><b>Description</b></p>
  </td>
  <td width=204 valign=top style='width:153.0pt;border:solid black .75pt;
  border-left:none;background:#BFBFBF;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoBodyText style='margin-left:0in'><b>Responsibilities</b></p>
  </td>
 </tr>
 <tr>
  <td width=168 valign=top style='width:1.75in;border:solid black .75pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=InfoBlue style='margin-left:0in'>[Name
  the stakeholder type.]</p>
  </td>
  <td width=192 valign=top style='width:2.0in;border-top:none;border-left:none;
  border-bottom:solid black .75pt;border-right:solid black .75pt;padding:0in 5.4pt 0in 5.4pt'>
  <p class=InfoBlue>[Briefly describe the stakeholder.]</p>
  </td>
  <td width=204 valign=top style='width:153.0pt;border-top:none;border-left:
  none;border-bottom:solid black .75pt;border-right:solid black .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=InfoBlue>[Summarize the stakeholder's key responsibilities with
  regard to the system being developed; that is, their interest as a
  stakeholder. For example, this stakeholder:</p>
  <p class=InfoBlue>- ensures that the system will be maintainable</p>
  <p class=InfoBlue>- ensures that there will be a market demand for the
  product's features</p>
  <p class=InfoBlue>- monitors the project's progress&nbsp;</p>
  <p class=InfoBlue>- approves funding</p>
  <p class=InfoBlue>- and so forth]</p>
  </td>
 </tr>
</table>

  <h5><a name="3.3               Customer Summary"><font face="Arial, Helvetica, sans-serif">3.3<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span>Customer Summary</font></a></h5>

<p class=InfoBlue>[Present a summary
list of all identified users.]</p>

<table border=1 cellspacing=0 cellpadding=0 style='border-collapse: collapse; border-style: none; border-width: medium; margin-left: 41.4pt' width="604">
 <tr style='height:20.9pt'>
  <td width=105 valign=top style='background-color: #BFBFBF; background-repeat: repeat; background-attachment: scroll; height: 20.9pt; border: .75pt solid black; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in; background-position: 0%'>
  <p class=MsoBodyText style='margin-left:0in'><b>Name</b></p>
  </td>
  <td width=104 valign=top style='background-color: #BFBFBF; background-repeat: repeat; background-attachment: scroll; height: 20.9pt; border-left-style: none; border-left-width: medium; border-right: .75pt solid black; border-top: .75pt solid black; border-bottom: .75pt solid black; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in; background-position: 0%'>
  <p class=MsoBodyText style='margin-left:0in'><b>Description</b></p>
  </td>
  <td width=321 valign=top style='background-color: #BFBFBF; background-repeat: repeat; background-attachment: scroll; height: 20.9pt; border-left-style: none; border-left-width: medium; border-right: .75pt solid black; border-top: .75pt solid black; border-bottom: .75pt solid black; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in; background-position: 0%'>
  <b><font size="2">Responsibilities</font></b>
  </td>
  <td width=297 valign=top style='background-color: #BFBFBF; background-repeat: repeat; background-attachment: scroll; height: 20.9pt; border-left-style: none; border-left-width: medium; border-right: .75pt solid black; border-top: .75pt solid black; border-bottom: .75pt solid black; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in; background-position: 0%'>
  <p class=MsoBodyText style='margin-left:0in'><b>Stakeholder</b></p>
  </td>
 </tr>
 <tr style='height:48.8pt'>
  <td width=105 valign=top style='height: 48.8pt; border-left: .75pt solid black; border-right: .75pt solid black; border-top-style: none; border-top-width: medium; border-bottom: .75pt solid black; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in'>
  <p class=InfoBlue style='margin-left:0in'>[Name
  the user type.]</p>
  </td>
      <td width=104 valign=top style='height: 48.8pt; border-left-style: none; border-left-width: medium; border-right: .75pt solid black; border-top-style: none; border-top-width: medium; border-bottom: .75pt solid black; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in'> 
        <p class=InfoBlue>[Briefly describe what they represent 
          with respect to the system.]</p>
  </td>
  <td width=321 valign=top style='height: 48.8pt; border-left-style: none; border-left-width: medium; border-right: .75pt solid black; border-top-style: none; border-top-width: medium; border-bottom: .75pt solid black; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in'>
  <p class=InfoBlue>[List the user's key responsibilities with regard to the
  system being developed; for example:</p>
  <p class=InfoBlue>- captures details</p>
  <p class=InfoBlue>- produces reports</p>
  <p class=InfoBlue>- coordinates work</p>
  <p class=InfoBlue>- and so on]</p>
  </td>
  <td width=297 valign=top style='height: 48.8pt; border-left-style: none; border-left-width: medium; border-right: .75pt solid black; border-top-style: none; border-top-width: medium; border-bottom: .75pt solid black; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in'>
  <p class=InfoBlue>[If the user is not directly represented, identify which
  stakeholder is responsible for representing the user's interests.]</p>
  </td>
 </tr>
</table>

<p class=MsoBodyText>&nbsp;</p>

  <h5><a name="3.4               Customer Environment"><font face="Arial, Helvetica, sans-serif">3.4<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span>Customer Environment</font></a></h5>

<p class=InfoBlue>[Detail the working
environment of the target user. Here are some suggestions:</p>

<ul>
  <li>
    <p class="InfoBlue">Number of people
involved in completing the task? Is this changing?</li>
  <li>
    <p class="InfoBlue">How long is a task
cycle? Amount of time spent in each activity? Is this changing?</li>
  <li>
    <p class="InfoBlue">Any unique
environmental constraints: mobile, outdoors, in-flight, and so on.?</li>
  <li>
    <p class="InfoBlue">Which systems
platforms are in use today? Future platforms?</li>
  <li>
    <p class="InfoBlue">What other
applications are in use? Does your application need to integrate with them?</li>
</ul>

<p class=InfoBlue>This is where
extracts from the Business Model could be included to outline the task and
business workers involved, and so on.]</p>

  <h5><a name="3.5               Stakeholder Profiles"><font face="Arial, Helvetica, sans-serif">3.5<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </span>Stakeholder Profiles</font></a>&nbsp; </h5>

<p class=InfoBlue>[Describe each
stakeholder in the system here by filling in the following table for each
stakeholder. Remember that stakeholder types
can be as divergent as users, departments, and technical developers. A thorough profile
would cover the following topics for each type of stakeholder.]</p>

  <a name="3.5.1          &lt;Stakeholder Name&gt;"><i><font face="Arial, Helvetica, sans-serif" size="2">3.5.1<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
  </span>&lt;Stakeholder Name&gt;</font></i></a> 
  <table border=1 cellspacing=0 cellpadding=0 style='
 border-collapse:collapse;border:none;'>
    <tr> 
      <td width=126 valign=top style='width:94.5pt;border:solid windowtext .5pt;
  padding:0in 5.4pt 0in 5.4pt'> 
        <p class=MsoNormal><b>Representative</b></p>
      </td>
      <td width=463 valign=top style='width:347.4pt;border:solid windowtext .5pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'> 
        <p class=InfoBlue>[Who is the stakeholder representative to the project?  
          (This is optional if documented elsewhere.)  What we want here is names.]</p>
      </td>
    </tr>
    <tr> 
      <td width=126 valign=top style='width:94.5pt;border:solid windowtext .5pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'> 
        <p class=MsoNormal><b>Description</b></p>
      </td>
      <td width=463 valign=top style='width:347.4pt;border-top:none;border-left:
  none;border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  padding:0in 5.4pt 0in 5.4pt'> 
        <p class=InfoBlue>[Brief description of the stakeholder type.]</p>
      </td>
    </tr>
    <tr> 
      <td width=126 valign=top style='width:94.5pt;border:solid windowtext .5pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'> 
        <p class=MsoNormal><b>Type</b></p>
      </td>
      <td width=463 valign=top style='width:347.4pt;border-top:none;border-left:
  none;border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  padding:0in 5.4pt 0in 5.4pt'> 
        <p class=InfoBlue>[Qualify the stakeholder’s expertise, technical background, 
          and degree of sophistication—that is, guru, business, expert, casual 
          user, and so on.]</p>
      </td>
    </tr>
    <tr> 
      <td width=126 valign=top style='width:94.5pt;border:solid windowtext .5pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'> 
        <p class=MsoNormal><b>Responsibilities</b></p>
      </td>
      <td width=463 valign=top style='width:347.4pt;border-top:none;border-left:
  none;border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  padding:0in 5.4pt 0in 5.4pt'> 
        <p class=InfoBlue>[List the stakeholder’s key responsibilities with regard 
          to the system being developed—that is, their interest as a stakeholder.]</p>
      </td>
    </tr>
    <tr> 
      <td width=126 valign=top style='width:94.5pt;border:solid windowtext .5pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'> 
        <p class=MsoNormal><b>Success Criteria</b></p>
      </td>
      <td width=463 valign=top style='width:347.4pt;border-top:none;border-left:
  none;border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  padding:0in 5.4pt 0in 5.4pt'> 
        <p class=InfoBlue>[How does the stakeholder define success? </p>
        <p class=InfoBlue>How is the stakeholder rewarded?]</p>
      </td>
    </tr>
    <tr> 
      <td width=126 valign=top style='width:94.5pt;border:solid windowtext .5pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'> 
        <p class=MsoNormal><b>Involvement</b></p>
      </td>
      <td width=463 valign=top style='width:347.4pt;border-top:none;border-left:
  none;border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  padding:0in 5.4pt 0in 5.4pt'> 
        <p class=InfoBlue>[How is the stakeholder involved in the project? Relate 
          where possible to the Rational Unified Process roles—that is, Requirements 
          Reviewer, and so on.]</p>
      </td>
    </tr>
    <tr> 
      <td width=126 valign=top style='width:94.5pt;border:solid windowtext .5pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'> 
        <p class=MsoNormal><b>Deliverables</b></p>
      </td>
      <td width=463 valign=top style='width:347.4pt;border-top:none;border-left:
  none;border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  padding:0in 5.4pt 0in 5.4pt'> 
        <p class=InfoBlue>[Are there any additional deliverables required by the 
          stakeholder?  These could be project deliverables or outputs from the 
          system under development.]</p>
      </td>
    </tr>
    <tr> 
      <td width=126 valign=top style='width:94.5pt;border:solid windowtext .5pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'> 
        <p class=MsoNormal><b>Comments / Issues</b></p>
      </td>
      <td width=463 valign=top style='width:347.4pt;border-top:none;border-left:
  none;border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  padding:0in 5.4pt 0in 5.4pt'> 
        <p class=InfoBlue>[Problems that interfere with success and any other 
          relevant information go here.]</p>
      </td>
    </tr>
  </table>
  <h5><a name="3.6               Customer Profiles"><font face="Arial, Helvetica, sans-serif">3.6<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </span>Customer Profiles</font></a>  </h5>
  <p class=InfoBlue>[Describe each unique user of the system here by filling in 
    the following table for each customer type.  A thorough profile covers the 
    following topics for each type of user:]</p>
  <a name="3.6.1          &lt;Customer Name&gt;"><font face="Arial, Helvetica, sans-serif"><i><font size="2">3.6.1<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
  </span>&lt;Customer Name&gt;</font></i></font></a> 
  <table border=1 cellspacing=0 cellpadding=0 style='
 border-collapse:collapse;border:none;'>
    <tr> 
      <td width=126 valign=top style='width:94.5pt;border:solid windowtext .5pt;
  padding:0in 5.4pt 0in 5.4pt'> 
        <p class=MsoNormal><b>Representative</b></p>
      </td>
      <td width=463 valign=top style='width:347.4pt;border:solid windowtext .5pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'> 
        <p class=InfoBlue>[Who is the user representative to the project?  (This 
          is optional if documented elsewhere.)  This often refers to the Stakeholder 
          that represents the set of users; for example, Stakeholder: Stakeholder1.]</p>
      </td>
    </tr>
    <tr> 
      <td width=126 valign=top style='width:94.5pt;border:solid windowtext .5pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'> 
        <p class=MsoNormal><b>Description</b></p>
      </td>
      <td width=463 valign=top style='width:347.4pt;border-top:none;border-left:
  none;border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  padding:0in 5.4pt 0in 5.4pt'> 
        <p class=InfoBlue>[A brief description of the customer type.]</p>
      </td>
    </tr>
    <tr> 
      <td width=126 valign=top style='width:94.5pt;border:solid windowtext .5pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'> 
        <p class=MsoNormal><b>Type</b></p>
      </td>
      <td width=463 valign=top style='width:347.4pt;border-top:none;border-left:
  none;border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  padding:0in 5.4pt 0in 5.4pt'> 
        <p class=InfoBlue>[Qualify the customer’s expertise, technical background, 
          and degree of sophistication—that is, guru, casual user, and so on.] 
        </p>
      </td>
    </tr>
    <tr> 
      <td width=126 valign=top style='width:94.5pt;border:solid windowtext .5pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'> 
        <p class=MsoNormal><b>Responsibilities</b></p>
      </td>
      <td width=463 valign=top style='width:347.4pt;border-top:none;border-left:
  none;border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  padding:0in 5.4pt 0in 5.4pt'> 
        <p class=InfoBlue>[List the user’s key responsibilities with regards to 
          the system being developed— that is, captures customers details, produces 
          reports, coordinates work, and so on.]</p>
      </td>
    </tr>
    <tr> 
      <td width=126 valign=top style='width:94.5pt;border:solid windowtext .5pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'> 
        <p class=MsoNormal><b>Success Criteria</b></p>
      </td>
      <td width=463 valign=top style='width:347.4pt;border-top:none;border-left:
  none;border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  padding:0in 5.4pt 0in 5.4pt'> 
        <p class=InfoBlue>[How does the customer define success?</p>
        <p class=InfoBlue> How is the customer rewarded?]</p>
      </td>
    </tr>
    <tr> 
      <td width=126 valign=top style='width:94.5pt;border:solid windowtext .5pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'> 
        <p class=MsoNormal><b>Involvement</b></p>
      </td>
      <td width=463 valign=top style='width:347.4pt;border-top:none;border-left:
  none;border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  padding:0in 5.4pt 0in 5.4pt'> 
        <p class=InfoBlue>[How the customer is involved in the project? Relate 
          where possible to the Rational Unified Process roles—that is, Requirements 
          Reviewer, and so on.]</p>
      </td>
    </tr>
    <tr> 
      <td width=126 valign=top style='width:94.5pt;border:solid windowtext .5pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'> 
        <p class=MsoNormal><b>Deliverables</b></p>
      </td>
      <td width=463 valign=top style='width:347.4pt;border-top:none;border-left:
  none;border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  padding:0in 5.4pt 0in 5.4pt'> 
        <p class=InfoBlue>[Are there any deliverables the customer produces and, 
          if so, for whom?]</p>
      </td>
    </tr>
    <tr> 
      <td width=126 valign=top style='width:94.5pt;border:solid windowtext .5pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'> 
        <p class=MsoNormal><b>Comments / Issues</b></p>
      </td>
      <td width=463 valign=top style='width:347.4pt;border-top:none;border-left:
  none;border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  padding:0in 5.4pt 0in 5.4pt'> 
        <p class=InfoBlue>[Problems that interfere with success and any other 
          relevant information go here.</p>
        <p class=InfoBlue>These include trends that make the customer’s job easier 
          or more difficult.]</p>
      </td>
    </tr>
  </table>
  <h5><a name="3.7               Key Stakeholder / Customer Needs"><font face="Arial, Helvetica, sans-serif">3.7<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </span>Key Stakeholder or Customer Needs</font></a></h5>
  <p class=InfoBlue>[List the key problems with existing solutions as perceived 
    by the stakeholder. Clarify the following issues for each problem:</p>
  <blockquote> 
    <p class=InfoBlue>•          What are the reasons for this problem? </p>
    <p class=InfoBlue>•          How is it solved now?</p>
    <p class=InfoBlue>•          What solutions does the user want?]</p>
  </blockquote>
  <p class=InfoBlue>[It is important to understand the <b>relative</b> importance 
    the stakeholder places on solving each problem. Ranking and cumulative voting 
    techniques indicate problems that <b>must</b> be solved versus issues they 
    would like addressed.</p>
  <p class=InfoBlue>Fill in the following table&#151if using Rational RequisitePro 
    to capture the Needs, this could be an extract or report from that tool.]</p>
  <table border=1 cellspacing=0 cellpadding=0 style='border-collapse: collapse; border-style: none; border-width: medium' width="703">
    <tr> 
      <td width=186 valign=top style='background-color: #BFBFBF; background-repeat: repeat; background-attachment: scroll; border: .75pt solid black; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in; background-position: 0%'> 
        <p class=MsoBodyText><b>Need</b></p>
      </td>
      <td width=60 valign=top style='background-color: #BFBFBF; background-repeat: repeat; background-attachment: scroll; border-left-style: none; border-left-width: medium; border-right: .75pt solid black; border-top: .75pt solid black; border-bottom: .75pt solid black; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in; background-position: 0%'> 
        <p class=MsoBodyText><b>Priority</b></p>
      </td>
      <td width=90 valign=top style='background-color: #BFBFBF; background-repeat: repeat; background-attachment: scroll; border-left-style: none; border-left-width: medium; border-right: .75pt solid black; border-top: .75pt solid black; border-bottom: .75pt solid black; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in; background-position: 0%'> 
        <p class=MsoBodyText><b>Concerns</b></p>
      </td>
      <td width=126 valign=top style='background-color: #BFBFBF; background-repeat: repeat; background-attachment: scroll; border-left-style: none; border-left-width: medium; border-right: .75pt solid black; border-top: .75pt solid black; border-bottom: .75pt solid black; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in; background-position: 0%'> 
        <p class=MsoBodyText><b>Current Solution</b></p>
      </td>
      <td width=165 colspan=2 valign=top style='background-color: #BFBFBF; background-repeat: repeat; background-attachment: scroll; border-left-style: none; border-left-width: medium; border-right: .75pt solid black; border-top: .75pt solid black; border-bottom: .75pt solid black; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in; background-position: 0%'> 
        <p class=MsoBodyText><b>Proposed Solutions</b></p>
      </td>
    </tr>
    <tr> 
      <td width=186 valign=top style='border-left: .75pt solid black; border-right: .75pt solid black; border-top-style: none; border-top-width: medium; border-bottom: .75pt solid black; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in'> 
        <p class=MsoBodyText>Broadcast messages</p>
      </td>
      <td width=60 valign=top style='border-left-style: none; border-left-width: medium; border-right: .75pt solid black; border-top-style: none; border-top-width: medium; border-bottom: .75pt solid black; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in'>&nbsp; 
      </td>
      <td width=90 valign=top style='border-left-style: none; border-left-width: medium; border-right: .75pt solid black; border-top-style: none; border-top-width: medium; border-bottom: .75pt solid black; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in'>&nbsp; 
      </td>
      <td width=126 colspan=2 valign=top style='border-left-style: none; border-left-width: medium; border-right: .75pt solid black; border-top-style: none; border-top-width: medium; border-bottom: .75pt solid black; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in'>&nbsp; 
      </td>
      <td width=165 valign=top style='border-left-style: none; border-left-width: medium; border-right: .75pt solid black; border-top-style: none; border-top-width: medium; border-bottom: .75pt solid black; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0in; padding-bottom: 0in'>&nbsp; 
      </td>
    </tr>
    <tr height=0> 
      <td width=202 style='border-style: none; border-width: medium'></td>
      <td width=75 style='border-style: none; border-width: medium'></td>
      <td width=105 style='border-style: none; border-width: medium'></td>
      <td width=141 style='border-style: none; border-width: medium'></td>
      <td width=1 style='border-style: none; border-width: medium'></td>
      <td width=180 style='border-style: none; border-width: medium'></td>
    </tr>
  </table>
  <h5><a name="3.8               Alternatives and Competition"><font face="Arial, Helvetica, sans-serif">3.8<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </span>Alternatives and Competition</font></a></h5>
  <p class=InfoBlue>[Identify alternatives the stakeholder perceives as available. 
    These can include buying a competitor’s product, building a homegrown solution 
    or simply maintaining the status quo. List any known competitive choices that 
    exist or may become available. Include the major strengths and weaknesses 
    of each competitor as perceived by the stakeholder.]<br>
  </p>
  <h4><a name="4.                  Business Engineering Objectives"><font face="Arial, Helvetica, sans-serif">4.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </span>Business Modeling Objectives</font></a></h4>
  <h5><a name="4.1               &lt;anObjective&gt;"><font face="Arial, Helvetica, sans-serif">4.1<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </span>&lt;anObjective&gt;</font></a></h5>
  <h5><a name="4.2               &lt;anotherObjective&gt;"><font face="Arial, Helvetica, sans-serif">4.2<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </span>&lt;anotherObjective&gt;</font><br>
    </a></h5>
  <h4><a name="5.                  Constraints"><font face="Arial, Helvetica, sans-serif">5.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </span>Constraints</font></a></h4>
  <p class=InfoBlue> [Note any design constraints, external constraints or other 
    dependencies.]</p>
  <h4><a name="6.                  Quality Ranges"><font face="Arial, Helvetica, sans-serif">6.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </span>Quality Ranges</font></a> </h4>
  <p class=InfoBlue>[Define the quality ranges for performance, robustness, fault 
    tolerance, usability, and similar characteristics that are not captured in 
    the objectives.]</p>
  <h4><a name="7.                  Precedence and Priority"><font face="Arial, Helvetica, sans-serif">7.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </span>Precedence and Priority</font></a></h4>
  <p class=InfoBlue>[Define the priority of the different objectives.]</p>
  <h4><font face="Arial, Helvetica, sans-serif"><a name="8.                  Other Requirements">8.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </span>Other Requirements</a></font></h4>
  <p class=InfoBlue>[At a high-level, list applicable standards, hardware or platform 
    requirements, performance requirements, and environmental requirements.]</p>
  <h5><a name="8.1               Applicable Standards"><font face="Arial, Helvetica, sans-serif">8.1<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </span>Applicable Standards</font></a></h5>
  <p class=InfoBlue>[List all standards with which the business must comply. These 
    can include legal and regulatory (FDA, UCC) communications standards (TCP/IP, 
    ISDN), platform compliance standards (Windows, Unix, and so on), and quality 
    and safety standards (UL, ISO, CMM).]</p>
  <h5><a name="8.2               System Requirements"><font face="Arial, Helvetica, sans-serif">8.2<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </span>System Requirements</font></a></h5>
  <p class=InfoBlue>[Define any system requirements necessary to support the application. 
    These can include the supported host operating systems and network platforms, 
    configurations, memory, peripherals, and companion software.]</p>
  <h5><a name="8.3               Performance Requirements"><font face="Arial, Helvetica, sans-serif">8.3<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </span>Performance Requirements</font></a></h5>
  <p class=InfoBlue>[Use this section to detail performance requirements. Performance 
    issues can include such items as user load factors, bandwidth or communication 
    capacity, throughput, accuracy, and reliability or response times under a 
    variety of loading conditions.]</p>
  <h5><a name="8.4               Environmental Requirements"><font face="Arial, Helvetica, sans-serif">8.4<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </span>Environmental Requirements</font></a></h5>
  <p class=InfoBlue>[Detail environmental requirements as needed. For hardware 
    based systems, environmental issues can include temperature, shock, humidity, 
    radiation, and so on. For software applications, environmental factors can 
    include usage conditions, user environment, resource availability, maintenance 
    issues, and error handling and recovery.]</p>
  <h4><a name="A.                  Appendix 1 – Objective Attributes"><span style='font:7.0pt "Times New Roman"'>&nbsp;</span><font face="Arial, Helvetica, sans-serif">Appendix 
    A&#151Objective Attributes</font></a></h4>
  <p class=InfoBlue>[Objectives should be given attributes used to evaluate, track, 
    prioritize, and manage the product items proposed for implementation. List 
    and briefly describe the attributes you have chosen.  See the <b> <u>Artifact:  
    Requirement Management Plan</u> </b> for a set of suggested feature attributes.]</p>
  <h1>&nbsp;</h1>
</div>
</body>
</html>
