/*============= By PTheme.ir | MGH7 =============*/
.pagination div.nav a,.pagination div.nav>span,body.rtl div.filters .nice-select,div.articles.classic article .button,div.epcl-download a,.epcl-shortcode.epcl-button,.button.outline,.woocommerce .woocommerce-loop-product__title,.woocommerce-page form .form-row label, .woocommerce form .form-row label,.woocommerce fieldset legend,#single #comments .comment .comment-author, .woocommerce .woocommerce-loop-product__title, .woocommerce fieldset legend, .wpcf7 label,.woocommerce.widget_product_search .search-field, input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="text"], input[type="url"], select, textarea,.title, .woocommerce .woocommerce-loop-product__title, .woocommerce fieldset legend, .wpcf7 label,.button, .epcl-button, div.epcl-download a,.woocommerce a.button, .woocommerce button.button, .woocommerce div.epcl-download a, div.epcl-download .woocommerce a,button, input[type=submit]{
    font-family: inherit !important;
}
span,ul,li,a,h1,h2,h3,h4,h5,h6,p,input,textarea,th,tr,label,legend,fieldset,button,td,form,time,#footer .published,.epcl-box{
	letter-spacing:-0.4px !important;
	direction:rtl;
}
#header.advertising .share-buttons, #header.classic .share-buttons {
    margin-top: 10px;
}
#header.advertising nav, #header.classic nav {
    float: right;
}
@media screen and (max-width: 980px){
#header div.menu-mobile {
    right: 25px !important;
    left: auto !important;
}
}
#header .share-buttons {
    float: left;
    margin: 7px 15px 0 0px;
}
body.rtl #header.classic .logo {
    float: right !important;
}
body.rtl #header nav ul.menu>li.menu-item-has-children.last-menu-item ul.sub-menu ul.sub-menu {
    left: auto;
    right: 100%;
}
html[dir=rtl] body #header nav ul.menu>li.menu-item-has-children.last-menu-item ul.sub-menu {
    right: 0;
    left: auto;
}
#header .logo {
    float: right;
}
#header .is-sticky div.menu-wrapper .logo,body.rtl #header.is-sticky div.menu-wrapper nav {
    float: right !important;
}
#header nav ul.menu li.menu-item-has-children:after {
    left: 0;
    right: auto;
}
#header.advertising .logo {
    float: right;
}
#header.advertising .ads {
    float: left;
}
#header.is-sticky div.menu-wrapper .logo {
    float: right;
}
#header.advertising nav, #header.classic nav {
    margin-top: 0;
}
#single .post-format-image img {
    border-top-right-radius: 7px;
    border-top-left-radius: 0;
}
@media screen and (min-width: 1024px){
.grid-33 {
    float: right;
}
.grid-50 {
    float: left !important;
}
.grid-90 {
    float: right;
}
}
@media screen and (max-width: 1023px){
#header nav ul.menu>li>a,html[dir=rtl] body #header nav ul.menu>li.menu-item-has-children:after {
    color: #494949 !important;
}
body.rtl #header.classic .logo {
    float: none!important;
}
}
.nice-select .option.selected {
    font-size: 13px;
}
.nice-select {
    padding-left: 40px;
    padding-right: 30px;
}	
.nice-select:after {
    left: 20px;
    right: auto;
}
.absolute.widget_tag_cloud, div.tags.absolute {
    left: 15px;
    right: auto;
}
#footer a#back-to-top {
    opacity: 1;
	bottom: 30px;
}
div.text blockquote:before {
    left: auto;
    right: 0;
}
div.epcl-download a:before {
    margin-left: 10px;
    margin-right: 0;
}
#single #comments .comment .right {
    padding-left: 0px;
    padding-right: 20px;
}
div.code-toolbar {
    direction: ltr;
}
#single #comments .children {
    padding-right: 90px;
    padding-left: 0;
}
.widget_search {
    border-top-left-radius: 7px;
    border-top-right-radius: 0;
}
.epcl-shortcode.epcl-tabs ul.tab-links {
    display: flex;
	margin-bottom: 1px;
}
.epcl-shortcode.epcl-tabs ul.tab-links li {
    float: right;
}
.woocommerce-error, .woocommerce-info, .woocommerce-message {
    padding-right: 55px;
    padding-left: 15px;
}
.woocommerce span.onsale,.woocommerce ul.products li.product .onsale {
    right: 15px;
    left: auto;
}
.woocommerce-variation-price{
	margin-bottom: 20px;
}
.woocommerce-variation-price span{
	font-weight: bold;
}
.woocommerce div.product form.cart .variations select {
    margin-left: 0px;
    margin-right: 1em;
    border-radius: 5px;
    padding:5px;
	margin-bottom: 10px;
}
.woocommerce div.product form.cart .reset_variations {
    margin-right: 10px;
}
.woocommerce-error:before, .woocommerce-info:before, .woocommerce-message:before {
    right: 25px;
    left: auto;
}
@media screen and (min-width: 1024px){
.grid-66 {
    float: right;
}
}
.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1 {
    float: right !important;
}
.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
    float: left !important;
}
.woocommerce table.shop_table td, .woocommerce table.shop_table th {
    text-align: right;
}
.woocommerce .woocommerce-privacy-policy-text p {
    margin-bottom: 20px;
}
.woocommerce-account .woocommerce-MyAccount-navigation {
    background: #f7f7f7;
    border-radius: 10px;
    border: 1px solid #e5e5e5;
}
.woocommerce .woocommerce-MyAccount-navigation ul {
    padding-right: 15px;
    padding-left: 15px;
}
@media screen and (max-width: 980px){
.woocommerce-account .woocommerce-MyAccount-content{
	margin-top: 30px;
}
}
.rtl.woocommerce .price_label, .rtl.woocommerce .price_label span,.wpcf7 input[type="url"], .wpcf7 input[type="email"], .wpcf7 input[type="tel"] {
    direction: rtl;
}
.woocommerce .widget_price_filter .price_slider_amount,.woocommerce-cart table.cart .product-thumbnail {
    text-align: right;
}
.woocommerce .widget_price_filter .price_slider_amount .button {
    float: left;
}
.woocommerce-cart table.cart td.actions .coupon .input-text {
    margin-left: 10px;
    margin-right: 0px;
}
.woocommerce div.product form.cart .group_table td:first-child {
    width: 10em;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text {
    padding-right: 55px;
    padding-left: 0;
}
@media screen and (max-width: 767px){
div.text table {
    display: table;
}
.woocommerce-page .woocommerce-message .button , .woocommerce .woocommerce-message .button{
    float: left;
    text-align: center;
}
}
@media screen and (max-width: 980px){
.woocommerce-page div.text table tbody {
    display: contents;
}
}
@media screen and (max-width: 420px){
.woocommerce-error, .woocommerce-info, .woocommerce-message {
    padding-right: 15px;
    display: inline-grid;
}
}
select {
   background-position: left;
}