@font-face{font-family:'IranSans';src:url('fonts/IRANSansWeb.woff') format('woff')}
@font-face{font-family:'IRANSans-EN';src:url('fonts/IRANSans-EN.woff') format('woff')}
@font-face{font-family:'Aviny';src:url('fonts/aviny.woff') format('woff')}
@font-face{font-family:'Kufi';src:url('fonts/Kufi.woff') format('woff')}
@font-face{font-family:'Naskh';src:url('fonts/Naskh.woff') format('woff')}
@font-face{font-family:'IranYekan';src:url('fonts/iryekan.woff') format('woff')}
@font-face{font-family:'IranYekan-Bold';src:url('fonts/iranyekanbold.woff') format('woff')}
@font-face{font-family:'IranYekan-EN';src:url('fonts/iranyekan-en.woff') format('woff')}
@font-face{font-family:'Sahel';src:url('fonts/Sahel.woff') format('woff')}
@font-face{font-family:'Parastoo';src:url('fonts/Parastoo.woff') format('woff')}
@font-face{font-family:'Samim';src:url('fonts/Samim.woff') format('woff')}
@font-face{font-family:'Shabnam';src:url('fonts/Shabnam.woff') format('woff')}
@font-face{font-family:'Vazir-Bold';src:url('fonts/Vazir-Bold.woff') format('woff')}
@font-face{font-family:'Vazir-Light';src:url('fonts/Vazir-Light.woff') format('woff')}
@font-face{font-family:'Gandom';src:url('fonts/Gandom.woff') format('woff')}
@font-face{font-family:'ANic';src:url('fonts/ANic.woff') format('woff')}